{% extends 'SCSiteBundle::base.html.twig' %}

{% block main %}
<section id="signup" class="main style3 secondary">
    <div class="content container">
        <header>
            <h2>Change Password</h2>
        </header>
        <div class="box container small">

            <form method="post" action="{{ path('fos_user_change_password') }}">
                {{form_errors(form)}}
                <div class="row">
                    <div class="12u">{{form_row(form.current_password)}}</div>
                </div>
                <div class="row half">
                    <div class="6u">{{form_row(form.new.first)}}</div>
                    <div class="6u">{{form_row(form.new.second)}}</div>
                </div>

                <div class="row">
                    <div class="12u">
                        <ul class="actions">
                            <li><input type="submit" class="button" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" /></li>
                        </ul>
                    </div>
                    <div style="display: none;">
                        {{form_rest(form)}}
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
{% endblock main %}