<div class="large-2 columns aside">
	<h4>Γενικά</h4>
	<ul class="">
            <li><a href="{{path('home')}}">Τοίχος</a></li>
            <li><a href="{{path('inbox')}}">Μηνύματα</a></li>
            <li><a href="{{path('calendar')}}">Ημερολόγιο</a></li>
	</ul>
	{% if is_granted('ROLE_USER') and app.user.lessons|length > 0 %}
	<h4>Μαθήματα</h4>
	<ul class="student-lessons">
            {% for lesson in app.user.lessons %}
            <li>
                {% if app.request.get("lesson") == null or app.request.get("lesson") != lesson.id %}
                    <a href="{{path('home', {'lesson': lesson.id}) }}">{{lesson.name}}</a>
                {% else %}
                    {{lesson.name}}
                {% endif %}
            </li>
            {% endfor %}
	</ul>
	{% endif %}
</div>