{% extends 'SCSiteBundle::base.html.twig' %}

{% block content %}
<form action="{{ path("fos_user_security_check") }}" method="POST">
    <div class="row main">
        <div class="large-6 large-offset-3 columns" style="text-align: center;">
            <a href="{{path('facebook_login')}}">
                <img alt="Facebook Login" src="{{asset('img/facebook_login.png')}}" />
            </a>
        </div>
    </div>
    <div class="row main">
        <div class="large-6 large-offset-3 columns">
	{% if error != '' %}
        <div data-alert class="alert-box error radius">
            {{ error|trans({}, 'FOSUserBundle') }}
            <a href="#" class="close">&times;</a>
        </div>
	{% endif %}
            <label>Email</label>
            <input type="text" placeholder="πχ. test@test.com" name="_username">
        </div>
    </div>
    <div class="row">
        <div class="large-6 large-offset-3 columns">
            <label>Κωδικός Πρόσβασης</label>
            <input type="password" placeholder="" name="_password">
        </div>
        <input type="hidden" name="redirectTo" value="{{app.request.get("redirectTo") != null ? app.request.get("redirectTo") : ""}}">
    </div>
    <div class="row">
        <div class="large-6 large-offset-3 columns">
            <input type="submit" value="Σύνδεση" name="_submit" class="button ">
        </div>
    </div>
    <p class="text-align-center">
        <a href="{{path('fos_user_registration_register')}}">Δεν είσαι μέλος; Κάνε εγγραφή!</a>
    </p>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
</form>
{% endblock content %}